/* vars */
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$highlight-color: red;
$link-color: black;
$page-background: black;
$text-color: #e0e0e0;

/* end vars */


/* begin global stuff */
* {
  font-family:$font-family-sans-serif;
}
body {
  line-height:1.25;
  margin:0px;
  //padding: 1rem;
  padding-bottom:2.95rem;
  background-color: $page-background;
  color:$text-color;
  letter-spacing: 0.15em;
  font-weight:lighter;
}

.content ul, p {
  padding-inline-start:0rem;
  // padding-left:1rem;
  // padding-right:1rem;
  margin-right:0;
  margin-left:0;
}

// links
a {
  color: $text-color;
  text-decoration: none;
  border-width:0 0 1px 0;
  border-style:solid;
  border-color:$text-color;
}
a:hover {
  background-color: $highlight-color;
  color: $link-color;
}

.content li {
  list-style-type: none;
  display: block;
  // padding-right:1rem;
  padding:1.25rem;
  // padding-bottom:1.25rem;
  margin-left:auto;
  margin-right:auto;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.content p {
  margin-top:0rem;
  margin-bottom:0rem;
  padding-top:1.25rem;
  padding-left:1.25rem;
  padding-right:1.25rem;
  // padding-bottom:1.25rem;
}

#myContent {
  // padding-top:1rem;
  display: block;
  // padding-right:1rem;
  // padding:1.25rem;
  padding-top:0;
  margin-left:auto;
  margin-right:auto;
}


.excerpt p {
  display:inline;
  padding:0 1rem 0 1rem;
}
// socials

.socials .grid-container {
  // text-align:center;
  grid-template-columns: repeat(auto-fill, 100%);
  margin-top:1.5rem;
  padding-left:1rem;
  margin-right:auto;
  margin-left:auto;
}


/* end global stuff */

// /* Begin Nav Bar Styling */

.topnav {
  overflow: hidden;
  position:fixed;
  top:0;
  right:0;
  left:0;
  background-color:$page-background;
  margin-left:auto;
  margin-right:auto;
  line-height:1.15;
  z-index:1000;
  // border-style:solid;
  // border-radius:0;
  // border-width:0px 0px 1px 0px;
}

/* navbar links */
.topnav a {
  float: left;
  display: block;
  color: $text-color;
  text-align: left;
  margin-left:1rem;
  // text-decoration: none;
  font-size: 1.5rem;
}

.topnav ul {
  padding:0;
  margin:0;
}

// #brand {
//   // background-color:$page-background;
// }

/* Change the color of links on hover */
.topnav a:hover, #brand:hover {
  background-color: $highlight-color;
  color: black;
}

/* Add an active class to highlight the current page */
// .current {
//   background-color: $highlight-color;
// }
.topnav a.active {
  background-color: $highlight-color;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon, i {
  display: none;
  padding-right:0;
  margin-right:0;
  padding-left:1px;
  border-style:none;
}

.topnav .icon-hidden i {
  display:none;
}

.topnav .icon:hover {
  background-color:$highlight-color;
}

.home-menu {
  background-color:rgba(0, 0, 0, 0);
  top:33%;
  width:100%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.home-menu ul {
  display:inline-block;
  text-align:center;
  
}

.home-menu a {
  font-size:400%;
  // text-decoration: none;
  // margin-left:1rem;
  // margin-right:1rem;
  display:inline;
  
}
/* adjust content height to account for nav */
.content { // default height
  //position: absolute;
  margin-left:auto;
  margin-right:auto;
  // left:8px;
  // top:8px;
  // right:8px;
  margin-top: 2rem;
}
.doubleMenu {
  margin-top: 3rem!important;
}
.tripleMenu {
  margin-top: 4rem!important;
}
.mobileMenu {
  margin-top: 5rem!important;
}
/* end nav styling */

/* begin blog listing style */
.grid-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin-left:1rem;
  margin-right:1rem;
  padding-top:1rem;
  justify-content: start;
}

.grid-container.post-content {
  display: grid;
  grid-template-columns: 100%;
  margin-left:1rem;
  margin-right:1rem;
  padding-top:1rem;
  justify-content: start;
}

// .grid-container:hover {
//   background-color:$page-background;
//   color: $link-color;
// }

.grid-item p {
  padding-top:0;
}

.grid-container .post-date {
  text-align:right;
  grid-column:3;
  grid-row:1;
  
  text-decoration:underline;
}

.hoverable:hover {
  cursor:pointer;
  background-color:$highlight-color;
  color:$link-color;
}

.grid-container .post-excerpt {
  grid-column:2;
  grid-row:1;
  text-decoration:underline;
}

.grid-container .post-title {
  cursor:pointer;
  text-decoration:underline;
  grid-column:1;
  grid-row:1;
}

.grid-container.post-content {
  overflow:hidden;
  max-height:0;
  transition: max-height 0.5s ease-out;
  // margin-top:0.5rem;
  // padding-top:0;
  // padding-bottom:0;
  // transition: padding-top 0.25s;
  // transition: padding-bottom 0.25s;
  grid-column: 1 / span 3;
  grid-row:2;
}

.post-content p {
  margin-top:0.75rem;
}

.post-content.show {
  max-height:500px;
  transition: max-height 0.5s ease-in;
  // padding-top:0.5rem;
  // padding-bottom:0.5rem;
  // transition: padding-top 0.25s;
  // transition: padding-bottom 0.25s;
}

/* end blog listing style */

/* begin form stuff */
form {
  width:500px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align:left;
  padding-top:1.25rem;
  padding-inline-start:0;
  margin-top:2rem;
}

.content form input, textarea{
  font-size:125%;
}

form input {
  //padding: 1rem;
  border-width:1px 1px 1px 1px;
  border-color:$text-color;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color:#101010;
  
  // margin-left:auto;
  // margin-right:auto;
  width: 75%;
  display: block;
}

form label, button{
  margin-top:0.5rem;
  display:block;
}

form button {
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  width: 80px;
  font-size:100%;
  // border-radius: 5px;
  background-color:#101010;
  border-width:1px;
  border-color:$text-color;
  color:$text-color;

}

form button:hover {
  background-color:$highlight-color;
  cursor:pointer;
}

textarea {
  display:block;
  width: 100%;
  height:275px;
  margin-bottom:2px;
  border-width:1px;
  border-color:$text-color;
  background-color:#101010;
}

.ohnohoney{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
/* end form stuff */

/* site info footer */
.site-info {
  font-size:75%;
  position:fixed;
  bottom:0;
  margin-right:auto;
  margin-left:auto;
  padding-bottom:2rem;
}

.site-info ul {
  align-items:left;
  padding-right:1rem;
  padding-left:1rem;
  margin-bottom:0;
  margin-top:0;
}

.site-info li {
  border-width:0;
  display:inline;
  padding:0;
}
/* end site info footer */

/* contact footer */
.footer {
  // display:inline;
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  // width:100%;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  
  
  
}
.footer ul {
  background-color: $page-background;
  margin-top:0;
  margin-bottom:0;
  padding-inline-start:0;
  border-radius:2px 0 0 0;
  text-align:right;
  
}
.footer a {
  display:inline;
  // float: right;
  text-align:right;
  margin-left:1rem;
  color: $text-color;  
  text-decoration: none;
  font-size: 1.5rem;
  background-color:$page-background;
  // padding-right:1rem;
}

.footer li.info-hidden {
  display:none;
}

.footer li.info {
  display:inline!important;
  font-size:.8rem;
  color:$text-color;  
  margin-left:4px;
}
.footer li.info a {
  display:inline!important;
  font-size:.8rem;
  color:$text-color;  
  margin-left:0;
}
.footer .infoToggle {
  cursor:context-menu;
}


/* end contact footer */